:root {
	--primary: #f1faee;
	--secondary: #000;
	--tertiary: #457b9d;
	--duodenary: #fff;
}

[data-theme="dark"] {
	--primary: #212529;
	--secondary: #bdc1c6;
	--tertiary: #1d3557;
	--duodenary: #0e0e0e;
}

$maxWidth: 1200px;

$spacingLarge: 80px;
$spacingMedium: 40px;
$spacingSmall: 24px;
$spacingExtraSmall: 12px;
