//Utilities
@import "../../assets/utilities/namedVariables.scss";
@import "../../assets/utilities/global.scss";

$wrapperSpacing: 12px;

.card-thumbnail {
	&_wrapper {
		position: relative;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		padding: $wrapperSpacing;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}

		article {
			position: absolute;
			left: $wrapperSpacing;
			right: $wrapperSpacing;
			bottom: $wrapperSpacing;
			padding: $spacingExtraSmall $spacingSmall;
			text-align: left;
			color: #fff;
			background: #000; //fallback
			background: linear-gradient(to top, black, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
			opacity: 0;
			transition: 0.3s;

			h3 {
				margin: 0.2rem 0 $spacingExtraSmall 0;
				color: #fff;
			}
		}

		&:hover {
			article {
				transition: 0.3s;
				opacity: 1;
			}
		}
	}
}

// //Media Queries
// @media (max-width: $break_lg) {
// 	.card-thumbnail {
// 		&_wrapper {
// 			height: 200px;
// 			width: 200px;

// 			img {
// 				height: 200px;
// 				width: 200px;
// 			}
// 		}
// 	}
// }

@media (max-width: $break_md) {
	.card-thumbnail {
		&_wrapper {
			height: 250px;
			width: 250px;

			img {
				height: 250px;
				width: 250px;
			}
		}
	}
}
