//Utilities
@import "../../assets/utilities/namedVariables.scss";
@import "../../assets/utilities/global.scss";

.card-thumbnail {
	&_wrapper {
		position: relative;

		img {
			object-fit: cover;
			height: 320px;
			width: 320px;
		}

		article {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 3px;
			padding: $spacingExtraSmall $spacingSmall;
			text-align: left;
			color: var(--secondary);
			background: linear-gradient(to top, black, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
			opacity: 0;
			transition: 0.3s;

			h3 {
				margin: 0.2rem 0 $spacingExtraSmall 0;
			}
		}

		&:hover {
			article {
				transition: 0.3s;
				opacity: 1;
			}
		}
	}
}

//Media Queries
@media (max-width: $break_lg) {
	.card-thumbnail {
		&_wrapper {
			img {
				height: 200px;
				width: 200px;
			}
		}
	}
}

@media (max-width: $break_md) {
	.card-thumbnail {
		&_wrapper {
			img {
				height: 250px;
				width: 250px;
			}
		}
	}
}
